@font-face {
    font-family: "Sen-Bold";
    src: url(../../fonts/Sen/static/Sen-Bold.ttf);
}

@font-face {
    font-family: "Inter-Bold";
    src: url(../../fonts/Inter/static/Inter-Bold.ttf);
}

@font-face {
    font-family: "Inter-Regular";
    src: url(../../fonts/Inter/static/Inter-Regular.ttf);
}