@mixin for-tablet {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin for-phone {
    @media (max-width: 550px) {
        @content;
    }
}

@mixin center-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}