@import"./fonts";
$primary_font_title: "Sen-Bold";
$nav_font_title: "Inter-Regular";
$primary_color: #232536;
$secondary_color: #6d6e76;
$button_color: #ffd050;
$white_color: #ffffff;
$black_color: #000000;
$purple_color: #592ea9;
$dark-gray: #4c4c4c;
$medium-gray: #6d6e76;
$span_color: #fbf6ea;
$category-header-color: #f4f0f8;